@import url("https://fonts.googleapis.com/css2?family=Open+Sans:display=swap");

.navbar {
  display: flex;
  background-image: linear-gradient(#43b89e, #52ccc6);
  height: 125px;
  position: sticky;
}
.n1 {
  font-family: "Open Sans", sans-serif;
  font-size: 300%;
  color: whitesmoke;
  margin-top: 4%;
  margin-left: 3%;
  margin-bottom: 0%;
  font-weight: 800;
}

.navbar button {
  font-size: 125%;
  width: 10%;
  height: 43px;
  border-radius: 5px;
  border: none;
  margin-left: 42%;
  margin-top: 4%;
  background-color: #ffffff;
}
.navbar button:hover {
  background-color: #00fad9;
  cursor: pointer;
}

.loader {
  width: 250px;
  height: 125px;
  transition-duration: 1.25s;
  margin-left: 10%;
  margin-top: 10%;
  margin-right: 40%;
  object-fit: cover;
}

.cards {
  background-color: #43bfbf;
  border-radius: 10px;
  width: 30%;
  float: left;
  margin-left: 13%;
  margin-top: 3%;
  margin-bottom: 3%;
  transition-duration: 0.25s;
}
.cards:hover {
  box-shadow: 1px 1px 15px #3cb371;
}
.cards_avatar {
  width: 35%;
  float: left;
  border-radius: 10px 0px 0px 10px;
}
.content {
  text-align: center;
  font-family: "Open Sans", sans-serif;
  margin-top: 8%;
  color: white;
}

@media only screen and (max-width: 600px) {
  .navbar {
    display: block;
    height: 140px;
  }
  .n1 {
    font-size: 275%;
    margin-left: 1%;
    margin-top: -3%;
  }

  .navbar button {
    font-size: 125%;
    width: 15%;
    height: 43px;
    border-radius: 5px;
    border: none;
    margin-left: 41%;
    margin-top: 4%;
    background-color: #ffffff;
  }

  .loader {
    width: 200px;
    height: 125px;
    margin-right: -9%;
  }

  .cards {
    width: 80%;
    margin-left: 10%;
    margin-top: 8%;
  }
}
